@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
	background-image: linear-gradient(-225deg, #E3FDF5 6%, rgb(206, 206, 206) 100%);
}

header{
	padding: 12px 20px;
	background-color: #fff;
	box-shadow: 0 2px
	 4px #888;

}

a{ 	padding: 0px 23px;
	text-decoration : none;
	font-family: 'Abel', sans-serif;
	opacity: .95;
}


.post:hover{
border-bottom: 2px solid #f08b18;
}


.post{
	float: right;
}


.fa-phone-square{
	color:#f08b18;

}
.phone-blog {
    padding: 0px 23px;
	text-decoration : none;
	font-family: 'Abel', sans-serif;
	opacity: .95;
	float: right

}

phone-blog .phone-info {
    padding: 0px 23px 23px 0px;
    position: relative;
}


.hero-image{
	margin-top: 2px;
	background: linear-gradient(rgba(240, 61, 86, 0.4),rgba(67, 100, 13, 0.4)),url(../assets/image/slider.jpg);
 	background-size:  cover;
	height: 600px;
    background-position: center;
    
    width: 100%;
    
}

h3{
	padding: 0px;
}

.brand{
	padding: 0px;
	font-family: 'Vibur', cursive;

}

	

.hero-text{
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-text h1{
	font-size: 38px;
    line-height: 1.2;
    color:white;
}




container{
	width: 35%;
	background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
	height: 500px;
	margin: 2% auto;
	border-radius: 5px;
	box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
	border:2px solid black;
}


.inputFields {
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}

form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #fff0 50%, #FFE6FA 50%);
}

.fontHolder{
	background-color: #ddd;
	padding: 15px 12px;
	font-size: 16px;
}

input[type=text]{
	width: 80%;
	padding: 12px 20px;
	border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    margin-bottom: 5%;
}

input[type=password]{
	width: 80%;
	padding: 12px 20px;
	outline: none;
	border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    margin-bottom: 4%;
}

input[type=phone]{
	width: 80%;
	padding: 12px 20px;
	outline: none;
	border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    margin-bottom: 4%;
}


input[type=submit]{
	width: 50%;
	padding: 12px 20px;
	outline: none;
	border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    margin-bottom: 4%;
    margin: 0% 25% auto;
   
}


input[type=email]{
	width: 80%;
	padding: 12px 20px;
	outline: none;
	border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    margin-bottom: 4%;
   	  
}


input:focus {
    transform: translateX(-2px);
    
}

input[type=submit]:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.description{
	margin-top: 20px;
	margin-bottom: 25%;
	text-align: center;
}

.desc{

	margin-top: 10px;
	margin-bottom: 10%;
	text-align: center;
	font-family: 'Abel', sans-serif;
    color: #5E6472;	


}


.caption{
 font-family: 'Abel', sans-serif;
    color: #5E6472;	
}

.cap{
text-decoration: none;
}



.card{
	width: 23%;
	height: 100px;
	border-radius: 5px;
	float: left;
	
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card-head{
	background-color: grey;
	padding:10px 20px;
	border-radius: 5px 5px 0px 0px;
}


.card-content{
	background-color: white;
}
.card-footer{
	background-color: grey;
	padding:10px 20px;
	border-radius: 0px 0px 5px 5px;
}

hr{ 
	border:1px grey dashed;
	clear: both;
	 
}


.otherBtn{
	padding: 10px 20px;
	border-radius: 10px;
	outline: none;
	margin-top: 5%;
	background:linear-gradient(rgba(23,34,55,0.4),rgba(23,34,55,0.4));

}

.otherBtn a{
	color: white;
	font-size: 20px;
	transition: 0.9s;
}

#menu{
	transition: 4s;
}

.menu-caption{
	text-align:center;
	margin: 2% 0%;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



.menuHolder{
	width: 100%;
	
}


.item{
float: left;
width: 22%;
height: 350px;
transition: height 0.25s ease;
border: 1px solid rgba(127,127,127,0.16);
box-shadow: 0 1px 4px 2px rgba(127,127,127,0.11);
margin-right: 15px;
margin-left: 25px;
background-color: white;
border-radius: 5px;
margin-bottom: 3%;
}

.item img{
	width:100%;
	height: 220px;
}

.item img:hover{
	width:100%;
	height: 230px;
	transition: 0.1s;
}

h4,p{
	padding-left: 9px;
}

.cart{
	float: left;
	background-color: white;
	padding: 12px 8px;
	
	margin-top: 10px;


}


.cart a{
	padding: 0;


}


.btn-cart{
	padding: 12px 30px;
	background-color: rgb(169, 181, 185);
	border-radius: 5px;
	border-style: none; 
	background-color: #f08b18;
}

.money{
	color: #e32619;
	line-height: 1.4375rem;
	font-size: 1.375rem 
}


footer{
	background-color: #39434c !important;
	width: 100%;
	padding: 20px 0;
	margin-top: 5%;

}




.footer1{
	
	color:white;
	float: left;
	width: 15%;
	margin-right: 12px;
	margin-left: 7%;
	margin-bottom: 25px;
	padding-top: 20px;

}

.footer1 h3{
	padding-bottom: 10px;
	border-bottom:2px solid #f08b18;
	margin-bottom: 7px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	font-size: 15px;
	font-family: "Open Sans",sans-serif;

}


.footer1 a{
	display: block;
	padding-left: 0px;
	padding-top: 5px;
	color: #b2b4a6;
	
}

.footer1 a:hover{
	display: block;
	padding-left: 0px;
	padding-top: 5px;
	color:white;
	
}

.howto{
	float: left;
	width: 30%;
	margin-left: 3%
}

.howto img{
	float: left;
	clear: both;
	width: 50%;
	margin-bottom: 12px;
	margin-left: 15%;
	
}

.howto p,h3{
	text-align: center;
	
}

.allrest{
	margin-left:45% ;
	margin-top: 5% !important;
}

.allrest button{
	border-radius: 12px;
	padding: 12px;
	color: black !important;
	background: white
}

.allrest button a{
	
	color: black !important;
	font-size: 17px;
}



.container-new{
	margin: 1% 1%;
	padding: 5px;
	background-color: rgb(147, 182, 190);
}

.menuList{

	margin-top: 15px;
	background: white
}

.menuList ul{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: white;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	
}

.menuList ul li {
	float: left;
}

 .menuList ul li a {
	display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menuList ul li a:active {
	background-color: #E3FDF5
}

/* .menuList ul li a:hover{
	
	padding: 7px 16px;
	border-bottom: 2px solid #f08b18;
	transition-duration: 1s ;
	font-family: 'Abel', sans-serif;
}  */

.list li{
	display: inline
}
.order-action{
	float: right;
	
	background:grey;
	margin-left: 10%;
	border:none;
	text-align: center;
	padding: 12px;
}



.food{
	padding: 20px 0px;
	border-bottom: 2px solid #888
}

.food h4{
	padding-bottom: 6px;
}



.food img{
	width: 90px;
	height: 90px;
	float: left;
	padding-bottom: 30px
}

.modal{
	display: none;
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
	background: white;
	width: 45%;
	margin: 15% auto;
	padding: 5px 12px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.orderdiv{
	float: right;
	margin-top: 10px;
	
}

.unitSelect{
	float: left;
	margin-top: 10px;
	
}

.unitSelect span{
	margin-left: 12px;
	margin-right: 12px
	
}
.orderBtn{
	width: 50%;
    padding: 12px 20px;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    margin-bottom: 4%;
	margin: 0% 25% auto;
	background-color:#20ac76
}
	


.orderBtn a{
	color: white !important;
	
}

.imageHolder{
	background: linear-gradient(rgba(240, 61, 86, 0.4),rgba(67, 100, 13, 0.4)),url(../assets/image/image5.jpg);
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}



.vendorName{
	background: white;
	margin-bottom: 2%;
}

.vendorName h4{
	padding-top: 15px;
	margin-left: 5%;
}

.billing{
	box-sizing: border-box;
	float: left;
	width: 65%;
	margin: 1% 3% auto;

}


.payment{
	float: right;
	width: 20%
}

/* Css for all restuarants  ////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.search{
	width: 65%;
	display: inline-block;
	margin: 5% auto;
	background: transparent;
	height: 90px;
	margin-left: 17%;
	margin-right: 17%
}

.search #place,  #select{
	width: 35%;
	float: left;
	
}

#go{
	width: 12%;
	transition: none;
	border: none;
}

#place, #go, #select{
	margin:3%;
	transition: none;
	
}

#select{
	padding: 12px 20px;
}

.container-full{
	width: 95%;
	margin: 1% auto;
	background: linear-gradient(rgba(240, 61, 86, 0.4),rgba(67, 100, 13, 0.4)),url(../assets/image/slider.jpg);
	
}


.row{
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
	background-color: red
	
}

.row .lists{
width:23%;

float: left;
margin-left: 12px;
margin-right: 12px;
margin-bottom: 2%;
background: white;
border-radius: 0px 0px 5px 5px;
box-shadow: 0px 2px 3px grey
}

.lists img{
	width: 100%;
	height: 250px;
	
}

.list a img{
	padding: 0;
}

#restName{
	font-size: 15px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: black;
}

.checkout-content{
	background-color: #888;
	width: 65%;
	margin: 3% auto;
	border: 2px solid grey;
	padding: 20px 20px;
}

.checkout-info{
	background-color: #fff;
	width: 65%;
	margin: 3% auto;
	border: 2px solid grey;
	padding: 20px 20px;

}
	.checkout-payment{
		background-color: #fff;
		width: 65%;
		margin: 3% auto;
		border: 2px solid grey;
		padding: 20px 20px;
	}

	.checkout-payment .pick{
		background: white;
		border: 2px solid grey;
		padding: 20px 12px;
		margin-bottom: 12px;
	}

	.checkout-summary{
		background-color: #fff;
		width: 65%;
		margin: 3% auto;
		border: 2px solid grey;
		padding: 20px 20px;
	}

	.checkout-summary .sumary{
		float: right;
		margin-bottom: 15px;
		margin-right: 20px;
	}

	.orderbtn{
		width: 50%;
    padding: 12px 20px;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    margin-bottom: 4%;
    margin: 0% 25% auto;
	}

	.msg{
		display: none;
		padding-top: 12px;
		transition: .4s;
	}

	.containered {
		width: 60%;
		margin: 0 20%;
	}

	.checkOutAmt {
		text-align: center;
		align-content: center;
		font-size: 30px;
		padding: 15px 0;
		border: 3px solid grey;
		border-radius: 8px;
		margin: 50px 0 0 0;
	}

	.confirm{
		width: 65%;
		margin: 0 20% auto;
		margin-top: 5%;
		background-color: white;
	}

	table {
		border-collapse: collapse;
		width: 100%;
		border:1px solid black;
	}
	
	th, td {
		text-align: left;
		padding-top: 22px;
		padding-bottom: 22px;
		padding-left: 20px;
	}
	
	tr:nth-child(even){background-color: #f2f2f2}

	.confirmbtn{
		padding: 18px 20px;
		border-radius: 5px;
		margin-top: 12px;
		background-color: #888;
		text-align: center
	}

	.confirmbtn a{
		color: white;
		font-size: 18px;
	}

	.login{
		width: 50%;
    padding: 12px 20px;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    margin-bottom: 4%;
	margin: 0% 25% auto;
	background: grey
	}

	.login a{
		color:white;
		padding: 12px 60px;
    outline: none;
	}